requests==2.31.0
beautifulsoup4==4.12.2

Q01A2C,"Dr. Azadeh Beheshtian Interventional Cardiologist New York",
Q02B3D,"Dr. Frank K. Tung MD Cardiology New York, NY",
Q03f3f,"dr laura phan",
Q04g4g,"MD Anderson Cancer Center at Cooper  Camden, New Jersey",